{{ define "style" }}
  <link href=/educacion-latam/css/app.77214a89.css rel=preload as=style>
  <link href=/educacion-latam/css/chunk-vendors.2c7f3eba.css rel=preload as=style>
  <link href=/educacion-latam/js/app.e1c32425.js rel=preload as=script>
  <link href=/educacion-latam/js/chunk-vendors.51cded3e.js rel=preload as=script>
  <link href=/educacion-latam/css/chunk-vendors.2c7f3eba.css rel=stylesheet>
  <link href=/educacion-latam/css/app.77214a89.css rel=stylesheet>
  <style>
    #app {
      position: relative;
    }
    #app,
    #map,
    .leaflet-container {
      height: 100vh
    }
  </style>
{{ end }}

{{ define "main" }}
  <noscript><strong>We're sorry but educacion-latam-map doesn't work properly without JavaScript enabled.   Please enable it to continue.</strong></noscript>
  <div id=app></div>
  <script src=/educacion-latam/js/chunk-vendors.51cded3e.js></script>
  <script src=/educacion-latam/js/app.e1c32425.js></script>
{{ end }}
