:root {
  --tory-blue: #105EAD;
  --denim: #1272DF;
  --amaranth: #E6374A;
  --black-bean: #091E1B;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  outline: none;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 10px;
}

a {
  text-decoration: none;
}

#wrapper {
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: 95%;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ribbon {
  background: white;
  height: 10px;
  width: 50px;
  margin: 0 0 20px;
}

.ribbon-dark {
  background: var(--black-bean);
}

nav {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 1px rgba(9, 30, 27, .8);
}

.section__full {
  height: 100vh;
  min-height: 100vh;
}

.section__title {
  font-size: 5.8em;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0 0 25px;
}

.img-responsive {
  max-width: 100%;
}

.text--white {
  color: white;
}

.btn--red {
  background: var(--amaranth);
  color: white;
  font-size: 4em;
  letter-spacing: 0.1em;
  padding: 5px 40px
}

#stories {
  border-bottom: 10px solid var(--denim);
  padding: 10em 0;
}

.stories {
  height: 100%;
  display: grid;
  grid-template-columns: 300px repeat(2, 1fr);
  grid-gap: 25px;
}

.stories__tabs {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.storie__tab {
  background: var(--denim);
  color: white;
  font-size: 1.5em;
  box-shadow: 1px 1px 3px rgba(9, 30, 27, .8);
}

.storie__title {
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.storie__subtitle {
  font-weight: 300;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

.storie__tab.active {
  background: var(--amaranth);
}

.stories__image {
  align-self: center;
}

.stories__image img {
  max-width: 85%;
  display: block;
  margin: 0 auto;
}

.stories__summary {
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 0.1em;
  align-self: center;
}


#data {
  background: var(--black-bean);
  color: white;
  padding: 4em 0 8em;
}

#data h3 {
  font-size: 2.45em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 0 25px;
}

.stages {
  padding: 0;
  display: flex;
  list-style: none;
}

.stage__title {
  font-size: 1.3em;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.stage__title:before {
  bottom: 100%;
  content: 'Educaci\00f3n';
  font-style: italic;
  font-weight: 400;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  transform: translate(-50%)
}

.stage__image {
  max-width: 70%;
}

.data__storie {
  font-weight: 400;
  font-size: 1.3em;
  column-count: 3;
}

.data__storie p {
  letter-spacing: 0.1em;
  margin: 0 0 10px;
}

footer {
  background: var(--black-bean);
  color: white;
  text-align: center;
  padding: 5px 0;
}