<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ddazal/align.css/dist/align.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/index.css">
<title>
  {{ if .Title }}
    {{ .Title }} | {{ .Site.Title }}
  {{ else }}
    {{ .Site.Title }}
  {{ end }}
</title>